# Core
pandas==2.2.2
numpy==1.26.4

# Visualization
matplotlib==3.9.2
seaborn==0.13.2

# Machine Learning
scikit-learn==1.5.1
joblib==1.4.2

# Time Series Forecasting
prophet==1.1.5

# Data Cleaning / Utility
pyarrow==17.0.0   # for parquet files
faker==26.0.0     # for synthetic data generation

# Jupyter Environment
notebook==7.2.2
ipykernel==6.29.5
